
.wrapper {
	width: 100%;
	height: 100%;
	font-size: 0;
}

body {
	background: #fff;
	margin-top: 65px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
}

img {
	max-width: 100%;
/*	position: center;
*/}

.homecircle {
	width: 30px;
	height: 30px;
	position: absolute;
	left: 15px;
	top: 20px;
	cursor: pointer;
}